<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="com.cordova.motiveinthenight" version="1.0.10" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-US" versionCode="1">
  <name>MotiveInTheNight</name>
  <description>The official app for listening to Ataxic Respiration's debut album Motive in the Night</description>
  <author href="https://motiveinthenight.web.app" email="ataxicrespiration@gmail.com">kryz_braun_technologies</author>
  <content src="index.html" />
  <access origin="*" />
  <vs:features />
  <preference name="phonegap-version" value="cli-9.0.0"/>
  <plugin name="cordova-plugin-splashscreen" spec="~5.0.3" />
  <preference name="SplashScreen" value="screen" />
  <!-- Support for Cordova 5.0.0 plugin system -->
  <plugin name="cordova-plugin-whitelist" version="1" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="android">
    <icon src="icon-36-ldpi.png" density="ldpi" />
    <icon src="icon-48-mdpi.png" density="mdpi" />
    <icon src="icon-72-hdpi.png" density="hdpi" />
    <icon src="icon-96-xhdpi.png" density="xhdpi" />
  </platform>
  <platform name="android">
    <splash src="screen-hdpi-landscape.png" density="land-hdpi" />
    <splash src="screen-ldpi-landscape.png" density="land-ldpi" />
    <splash src="screen-mdpi-landscape.png" density="land-mdpi" />
    <splash src="screen-xhdpi-landscape.png" density="land-xhdpi" />
    <splash src="screen-hdpi-portrait.png" density="port-hdpi" />
    <splash src="screen-ldpi-portrait.png" density="port-ldpi" />
    <splash src="screen-mdpi-portrait.png" density="port-mdpi" />
    <splash src="screen-xhdpi-portrait.png" density="port-xhdpi" />
  </platform>
  <plugin spec="https://github.com/chemerisuk/cordova-support-google-services.git" src="git"></plugin>
  <platform name="android">
    <resource-file src="google-services.json" target="app/google-services.json"/>
  </platform>
  <plugin spec="https://github.com/chemerisuk/cordova-plugin-firebase-analytics.git" src="git"></plugin>
</widget>
